doctype
html
	head
		title Multivision
		link(href="/favicon.ico", rel="shortcut", type="image/x-icon")
		link(href="/css/bootstrap.css", rel="stylesheet")
		link(href="/css/site.css", rel="stylesheet")
		link(href="/vendor/toastr/toastr.css", rel="stylesheet")
	body(ng-app='app')
		block main-content
		include scripts